*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--white);

  
}

:root{
    --main-color: #820000;
    --accent-color:#006800;
    --white:#eee;

}
html,body{
    height: 100%;
    width: 100%;
    color: var(--main-color);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
header{
    position: absolute;
    top: 0;
    left: 0;
}

.mainAbout__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 200px;
    gap: 20px;

}
.nav__list{
    display: flex;
    justify-content: center;
    gap: 10px;  
}
.nav__item{
    margin:0;
    padding:0;
    list-style-type: none;

}
.nav__item a{
    text-decoration: none;
}


.about__header{
    font-size: 2.5em;
}

.about__paragraph{
    line-height: 1.5;
    font-size: 1.3em;
    text-align: center;
}