*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root{
    --main-color: #820000;
    --accent-color:#006800;
    --white:hsl(0, 0%, 73%);
    --card-white: hsl(0, 0%, 90%);

}
html,body{
    height: 100%;
    width: 100%;
    color: var(--main-color);
    background-color: var(--white);
}
/* NAV */
header{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--card-white);
    width:100%;
    padding: 10px;

}
.nav__list{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;  
}
.nav__item{
    margin:0;
    padding:0;
    list-style-type: none;

}
.nav__itemSection{
    position: relative;
}
.section__list{
    position: absolute;
    opacity: 0;
    background-color: var(--card-white);
    padding: 20px;
    border:rgb(128 0 0/.4) solid;
    transition: opacity linear .1s;
}
.section__item {
   list-style-type: none;
   padding: 10px;
   transition: background-color .2s linear;
}
.section__item:hover{
    background-color: white;
}

.nav__itemSection:hover .section__list{
    opacity: 1;
}

.nav__item a{
    text-decoration: none;
    font-size: 1.6em;
    color: var(--accent-color);
}



/* Index */
.main__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 20px;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: white;
}
.home__linksContainer{
    margin-top: 10px;

}
.home__links{
    display: flex;
    justify-content: center;
    gap: 20px;


}
.home__item {
    list-style-type: none;
}
.home__link{

    color:var(--accent-color);
    font-size: 1.5em;
    padding: 12px;
    font-weight: 800;
    background-color: var(--card-white);
    border-radius: 20px;
}


/* Testing and Procedures */
.main__containerSections{
    padding: 50px;
    line-height: 1.5;
    width: 800px;
    margin: 100px auto auto;
    background-color: var(--card-white) ;
    border-radius: 10px 60px;
    max-width: 100%;
    box-shadow: 3px 3px black;
}
.main__containerSections > p{
    font-size: 1.2em;
    color: black;
}
.main__containerSections > h1{
    text-align: center;
}


/* About */
.about__h1{
    font-size: 2.5em;
}

.about__paragraph{
    line-height: 1.5;
    font-size: 1.3em;
    text-align: center;
}
